	* {
		margin: 0;
		padding: 0;
		font-family: "微软雅黑";
	}
	/*页头*/
	
	header {
		width: 100%;
		height: 55px;
		/*background-color: red;*/
		position: relative;
	}
	
	header #nav_logo {
		position: absolute;
		left: 60px;
		top: 0px;
		width: 100px;
		height: 55px;
	}
	
	header #nav_logo img {
		width: 30px;
		margin: 10px 3px 0 0;
		float: left;
		display: inline;
		line-height: 55px;
	}
	
	header #nav_logo h1 {
		font-size: 1.15em;
		float: left;
		line-height: 55px;
		color: #333;
	}
	
	header nav {
		text-align: right;
		margin-right: 60px;
	}
	
	header nav ul {
		display: inline-block;
	}
	
	header nav ul li {
		float: left;
		list-style-type: none;
		position: relative;
		margin: 0 2px;
	}
	
	header nav ul li:hover {
		border-bottom: 4px solid rgb(255, 66, 59);
	}
	
	header nav ul li a {
		padding: 0 30px display: block;
		text-align: left;
		text-decoration: none;
		font-size: 0.8em;
		color: #888;
		line-height: 55px;
		margin: 0 15px;
	}
	
	header nav ul li a:hover {
		color: rgb(255, 67, 66);
	}
	
	header nav ul li a img {
		height: 14px;
		margin-right: 3px;
	}
	/*banner*/
	
	#banner {
		background: url(image/banner.jpg) no-repeat center center;
		width: 100%;
		height: 700px;
		box-sizing: border-box;
		padding: 12% 0 0 10%;
		background-size: cover;
	}
	
	#banner h2 {
		font-size: 3em;
		color: white;
	}
	
	#banner p {
		text-align: left;
		font-size: .9em;
		color: #ddd;
		line-height: 1.5;
		margin: 15px 0 30px 5px;
	}
	
	#banner a {
		display: block;
		width: 300px;
		height: 60px;
		background-color: rgb(255, 67, 66);
		text-align: center;
		line-height: 60px;
		color: white;
		font-size: 1.4em;
		text-decoration: none;
		letter-spacing: 0.2em;
	}
	/*四栏tab选择结构*/
	
	#bannerTab {
		width: 100%;
		height: 200px;
		margin-top: -70px;
		background-color: white
	}
	
	#bannerTab .inner {
		width: 90%;
		margin: 0 auto;
		display: table;
	}
	
	#bannerTab1,
	#bannerTab2,
	#bannerTab3,
	#bannerTab4 {
		display: table-cell;
		width: 1;
	}
	
	#bannerTab .inner {
		box-sizing: border-box;
	}
	
	#bannerTab img {
		margin: 0 auto;
		display: block;
		padding: 30px 0;
	}
	
	#bannerTab p {
		text-align: center;
		line-height: 1.5;
		font-size: 0.8em;
		color: #888;
		margin-bottom: 30px;
		padding: 0 40px;
		border-left: 3px solid #ccc;
	}
	
	#bannerTab1 p {
		border: none;
	}
	/*横栏1*/
	
	#view1 {
		height: 300px;
		width: 100%;
		background-color: #ddd;
	}
	
	#view1 img {
		display: block;
		margin: 0 auto;
		padding: 60px 0 40px 0;
	}
	
	#view1 p {
		text-align: center;
		font-size: 3em;
		color: #888;
	}
	/*map*/
	
	#map {
		width: 100%;
		height: 350px;
		background: url(image/map.png) no-repeat center bottom;
		background-size: cover;
	}
	
	#map h3 {
		font-size: 1.3em;
		color: white;
		text-align: center;
		padding-top: 40px;
	}
	
	#map h3 span {
		border-bottom: 3px solid white;
		padding-bottom: 5px;
	}
	
	#map h3+p {
		font-size: 0.8rem;
		text-align: center;
		margin: 30px 0;
		color: white;
	}
	
	#mapcols {
		width: 80%;
		box-sizing: border-box;
		margin: 0 auto;
		padding-top: 20px;
		/*background-color: red;*/
		overflow: hidden;
	}
	
	#select1,
	#select2,
	#select3,
	#searchbtn {
		float: left;
		width: 25%;
		padding: 0 20px;
		box-sizing: border-box;
	}
	
	#mapcols select,
	#mapcols input {
		width: 100%;
		padding: 0 20px;
		height: 35px;
	}
	
	#mapcols select {
		border: none;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		background: #fff url(image/listtab.png) no-repeat center right;
		background-position-x: 180px;
	}
	
	#mapcols select option {
		background-color: #ddd;
	}
	
	#mapcols #searchbtn input {
		border: none;
		background-color: rgb(255, 66, 67);
		color: white;
		letter-spacing: 0.5em;
	}
	/*活动*/
	
	#activity {
		width: 100%;
		height: 500px;
	}
	
	#activity .inner {
		width: 80%;
		margin: 0 auto;
		display: table;
	}
	
	#beijing,
	#shanghai,
	#shenzhen,
	#hongkong {
		display: table-cell;
		width: 25%;
		padding-top: 80px;
	}
	
	#activity img {
		width: 200px;
		display: block;
		margin: 0 auto;
		padding: 5px;
		border: 2px solid #eee;
	}
	
	#activity h4 {
		text-align: center;
		padding-top: 20px;
		font-size: 0.9em;
		color: #333;
	}
	
	#activity p {
		text-align: center;
		padding: 10px 0;
		font-size: 0.7em;
		color: #555;
	}
	
	#shanghai h4 {
		font-size: 1.4em;
		letter-spacing: 0.7em;
	}
	/*两栏图文结构*/
	
	#view2 {
		width: 100%;
		height: 550px;
		display: table;
	}
	
	#view2 .left {
		display: table-cell;
		width: 60%;
		position: relative;
		background: url(image/view2.png) no-repeat left bottom;
	}
	
	#view2 .left img {
		position: absolute;
		transform: rotate(180deg);
		top: 45%;
		right: -1px;
	}
	
	#view2 .left p {
		text-align: center;
		color: white;
	}
	
	#view2 .left p:first-of-type {
		margin-top: 120px;
		font-size: 3em;
	}
	
	#view2 .left p:nth-of-type(2) {
		font-size: 10em;
	}
	
	#view2 .left p:nth-of-type(3) {
		font-size: 1.2em;
		line-height: 1.5;
	}
	
	#view2 .left p:nth-of-type(4) {
		font-size: 1.2em;
		line-height: 1.5;
	}
	
	#view2 .right {
		display: table-cell;
		width: 35%;
	}
	
	#view2 .right .inner {
		width: 80%;
		margin: 0 auto;
	}
	
	#view2 .right .firstpage h3 {
		text-align: center;
		font-size: 1.3em;
		color: #333;
		padding: 20px 0;
	}
	
	#view2 .right .firstpage h3 span {
		color: rgb(255, 66, 67);
	}
	
	#view2 .right .firstpage p {
		line-height: 3;
		font-size: 0.7em;
		color: #aaa;
		width: 70%;
		margin: 0 auto;
	}
	
	#view2 .right .firstpage a {
		display: block;
		text-align: center;
		width: 110px;
		height: 30px;
		border: 1px solid rgb(255, 66, 67);
		text-decoration: none;
		line-height: 30px;
		font-size: 0.8em;
		color: rgb(255, 66, 67);
		margin: 20px auto;
	}
	
	#view2 .right .scrollspot {
		width: 18%;
		margin: 0 auto;
	}
	
	#view2 .right .scrollspot li {
		float: left;
		margin: 5px;
	}
	/*三栏图文结构*/
	
	#view3 {
		width: 100%;
		height: 550px;
		display: table;
	}
	
	#view3 div {
		display: table-cell;
		width: 33%;
	}
	
	#view3 div.first {
		background-color: rgb(255, 66, 67);
		color: white;
	}
	
	#view3 div.second {
		background-color: white;
		color: #333;
	}
	
	#view3 p {
		font-size: 1.3em;
		text-align: center;
		margin-top: 150px;
		line-height: 2;
		letter-spacing: 0.05em;
	}
	
	#view3 p span {
		border-bottom: 2px solid;
		padding-bottom: 15px;
	}
	
	#view3 a {
		display: block;
		text-decoration: none;
		width: 150px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: white;
		border: 1px solid;
		margin: 30px auto;
	}
	
	#view3 .second a {
		color: rgb(255, 66, 67);
	}
	
	#view3 .third {
		background: url(image/view3.png) no-repeat;
		background-size: cover;
		position: relative;
	}
	
	#view3 .third img {
		position: absolute;
		top: 45%;
		left: -1px;
	}
	/*表格头*/
	
	#formbanner {
		background-color: white;
		width: 100%;
	}
	
	#formbanner h3 {
		text-align: center;
		font-size: 1.3em;
		margin-top: 80px;
		color: #333;
		margin-bottom: 30px;
	}
	
	#formbanner h3 span {
		border-bottom: 2px solid rgb(255, 66, 67);
		padding-bottom: 6px;
	}
	
	#formbanner p {
		font-size: 0.7em;
		color: #aaa;
		text-align: center;
		line-height: 1.5;
		margin-bottom: 50px;
	}
	/*表格*/
	
	#form {
		background-color: white;
		width: 100%;
	}
	
	#form .inner {
		width: 80%;
		margin: 0 auto;
		display: table;
	}
	
	#form .inner .left {
		display: table-cell;
		width: 33%;
		padding-right: 50px;
	}
	
	#form .inner .left h4 {
		font-size: 1.1em;
		color: #333;
		padding-bottom: 20px;
	}
	
	#form .inner .left p {
		font-size: 0.7em;
		line-height: 1.5;
		color: #999;
	}
	
	#form .inner .left a {
		position: relative;
		left: 260px;
		display: block;
		font-size: 0.6em;
		margin-bottom: 25px;
		text-align: left;
		color: #999;
		text-decoration: none;
	}
	
	#form .inner .right {
		display: table-cell;
		width: 66%;
	}
	
	#form .first,
	#form .second {
		display: table;
		height: 50px;
		margin: 10px 0;
		width: 100%;
	}
	
	#form .name,
	#form .context,
	#form .age,
	#form .address {
		display: table-cell;
		width: 50%;
		margin-right: 10px;
		background-color: #eee;
		border: 3px solid white;
		border-left: 6px solid white;
		border-right: 6px solid white;
		line-height: 50px;
		padding-left: 10px;
		color: #888;
		font-size: 0.7em;
	}
	
	#form input[type="text"] {
		border: none;
		background-color: #eee;
		width: 70%;
		line-height: 30px;
		outline: none;
		margin-left: 3px;
	}
	
	#form .discription {
		display: table;
		width: 100%;
		background-color: #eee;
		border: 3px solid white;
		color: #888;
		font-size: 0.7em;
		padding: 10px;
		box-sizing: border-box;
		border-left: 6px solid white;
		border-right: 6px solid white;
	}
	
	#form textarea {
		border: none;
		background-color: #eee;
		outline: none;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		height: 80px;
		resize: none;
	}
	
	#form input[type="submit"] {
		width: 100%;
		height: 60px;
		background-color: #eee;
		border: 6px solid white;
		color: #888;
		font-size: 0.7em;
		letter-spacing: .2em;
		outline: none;
		cursor: pointer;
		font-weight: bold;
	}
	
	#form input[type="submit"]:hover {
		background-color: #ddd;
	}
	
	#form input[type="submit"]:active {
		background-color: #ddd;
	}
	/*联系我们*/
	
	#connect {
		background-color: rgb(51, 56, 65);
		width: 100%;
	}
	
	#connect p:first-of-type {
		font-size: 1.4em;
		color: white;
		text-align: center;
		padding: 70px 0 10px 0;
	}
	
	#connect p:last-of-type {
		font-size: 0.7em;
		color: white;
		text-align: center;
		line-height: 1.6;
		letter-spacing: 0.1em;
	}
	
	#connect .form {
		width: 40%;
		margin: 0 auto;
		display: table;
		margin-top: 20px;
		height: 40px;
	}
	
	#connect .form input:first-of-type {
		width: 80%;
		display: table-cell;
		height: 100%;
		padding: 0 5px;
		border: none;
	}
	
	#connect .form input:last-of-type {
		display: table-cell;
		width: 15%;
		height: 100%;
		border: none;
		background-color: #555;
		font-size: 1em;
		color: white;
		outline: none;
	}
	
	#connect .form input:last-of-type:hover {
		background-color: #444;
	}
	
	#connect .form input:last-of-type:active {
		background-color: #333;
	}
	
	#connect .inner div:last-of-type {
		width: 15%;
		margin: 0 auto;
		padding: 30px 0 70px;
	}
	
	#connect .inner div:last-of-type a {
		padding: 0 7px;
	}
	/*footer*/
	
	footer {
		background-color: rgb(49, 50, 60);
		width: 100%;
		height: 60px;
		position: relative;
	}
	
	footer p,
	footer a {
		position: absolute;
		bottom: 10px;
		font-size: .6em;
		color: white;
	}
	
	footer p {
		left: 50px;
	}
	
	footer a {
		display: block;
		right: 50px;
		text-decoration: none;
	}